<div class="container">
  <div class="row align-items-start">
    <p id="notice"><%= notice %></p>

    <h1>Products</h1>

    <% @items.each do |item| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= item.photo %>" class="card-img-top" alt="..." style="height: 250px;">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.code %></p>
          <h5 class="card-title"><%= item.price %>$</h5>
          <a href="<%= "items/#{item.id}/add_to_basket" %>" class="btn btn-dark">Add to Basket</a>
        </div>
      </div>
    <% end %>
    <div>
      <br>
      <%= link_to 'View Basket', my_basket_path %>
      <br>
      <%= link_to 'New Item', new_item_path %>
    </div>
  </div>
</div>
